<body>

<h1>All Shelters</h1>

<nav>
  <%= link_to "Pets", "/pets" %>
</nav>

<section>
<a href="/shelters/new">New Shelter</a>
<% @shelters.each do |shelter| %>
  <h2><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %> </h2>
  <%= button_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>

<% end %>
</section>

</body>
